<div class="row">
    <div class="large-8 columns medium-8">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" placeholder="Enter City Name" class='city-name'>
                        </div>
                        <div class="small-2 columns">
                            <a href="javascript:void(0)" class="button postfix add-option">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label><b>Your Entered City:</b>
                        <ul class="city-list">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="javascript:void(0)" class="small radius button get-weather-data" data-option="current-city">Get Weather Information</a> 
            </div>
        </div>
    </div>
</div>