<div class="row">
    <div class="large-12 columns">
        <div class="panel" style="text-align:center;">            
            <div class="row">            	
                <div class="large-5 medium-5 columns">
                     <a href="javascript:void(0)" class="small radius button weather-option" data-option="current-city">Get Your Location Weather</a>
                </div>
                <div class="large-2 medium-2 columns">
                     <h4>OR</h4>
                </div>   
                <div class="large-5 medium-5 columns">
                     <a href="javascript:void(0)" class="small radius button weather-option" data-option="custom">Get Multiple City Weather</a>
                </div>                
            </div>
        </div>
    </div>
</div>
