<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.org/ns/plugins/1.0"
           id="org.apache.cordova"
      version="0.1.0">
    <name>Toast</name>
    <description>Sample PhoneGap Toast Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,toast</keywords>
 
 
    <js-module src="www/toast.js" name="toast">
        <clobbers target="window.toast" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="toast">
                <param name="android-package" value="org.apache.cordova.toast"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/toast.java" target-dir="src/org/apache/cordova" />      
     </platform>          
</plugin>